overlay {
    z-index: 1;
    position: 'fixed';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}


.modal {
    width: 50vw;
    height: 50vw;
    /* Set a high z-index value */
}

.closeButton {
    margin-left: 0;
    background: 'transparent';
    border: 'none';
    font-size: '18px';
    cursor: 'pointer';
}

.left-component {
    float: left;
    width: 55%;
}

.right-component {
    float: right;
    width: 45%;
}
