#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 2rem;
  z-index: -1000;
}

.card {
  padding: 2em;
  border-width: 0.1em;
  border-style: solid;
  border-color: black;
}

.read-the-docs {
  color: #888;
}

.fileImage {
  width: 50px;
  height: 50px;
}

.buttonModal {
  color: white;
  background-color: rgba(36, 61, 107, 255) !important;
  display: flex;
  align-items: center;
  border: 1px solid rgba(36, 61, 107, 255) !important;
  border-radius: 10px !important;
}

.buttonModa:hover {
    background-color: rgba(36, 61, 107, 150) !important;
}

.fileDropZone {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-style: dashed;
  border-width: 3px;
  border-color: rgba(220, 221, 230, 255);
}

.skyhopLabel {
  color: rgba(36, 61, 107, 255);
  font-family: Arial;
  font-size: 12px;
  text-align: left;
  font-weight: bolder;
  margin-left: 0;
}

.skyhopText {
  color: rgba(36, 61, 107, 255);
  font-size:12px;
  font-family: Arial;
  font-weight: bold;
}

.skyhopTextColor {
    color: rgba(36, 61, 107, 255);
}

.hrSection {
  width: 60%;
  height: 2px;
  background: rgba(202, 202, 202, 255);
  color: rgba(202, 202, 202, 255);
  margin-bottom: 4px;
  margin-top: 4px;
}

.custom-dropdown .dropdown-item {
  background-color: white !important;
  color: rgba(202, 202, 202, 255) !important;
}

.custom-dropdown .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.674);
}

.custom-dropdown-toggle {
  background-color: #fefefe;
  width: "100%" !important;
  color: rgba(36, 61, 107, 255) !important;
  border: 1px solid rgba(36, 61, 107, 255) !important;
  text-align: left !important;
}

.custom-dropdown-toggle::after {
  position: absolute;
  right: 10px;
  left: auto;
  margin-top: 10px;
}

.custom-dropdown-toggle:hover {
    background-color: rgba(255, 255, 255, 0.674);
}

input[type='checkbox']:checked {
  background-color: rgba(36, 61, 107, 255) !important;
}